---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPost from "@components/BlogPost.astro";
import type { MarkdownInstance } from "astro";

export interface Frontmatter {
  title: string;
  pubDate: Date;
  author: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  tags: string[];
}

export interface Paths {
  params: {
    tag: string;
  };
  props: {
    posts: MarkdownInstance<Frontmatter>[];
  };
}

//→ Crea rutas dinamicamente
export async function getStaticPaths(): Promise<Paths[]> {
  // → make data from all your blog posts available to each page route. Always inside getStaticPaths()
  const allPosts: MarkdownInstance<Frontmatter>[] = Object.values(
    import.meta.glob<MarkdownInstance<Frontmatter>>("../posts/*.md", {
      eager: true,
    })
  );

  // → para obtener todas las etiquetas únicas dinamicamente
  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post: MarkdownInstance<Frontmatter>) => post.frontmatter.tags)
        .flat()
    ),
  ];

  // → retornar arreglo de objetos con las rutas dinámicas para las tags únicas
  return uniqueTags.map((tag): Paths => {
    const filteredPosts = allPosts.filter(
      (post: MarkdownInstance<Frontmatter>) =>
        post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });

  // → rutas que se generan dinámicamente
  // const tags = [
  //   "astro",
  //   "successes",
  //   "community",
  //   "blogging",
  //   "setbacks",
  //   "learning in public",
  //   "notas personales",
  // ];

  // return tags.map(
  //   (tag): Paths => ({
  //     params: { tag },
  //     props: { posts: allPosts },
  //   })
  // );

  // → or you can do an extended version like this:
  // return [
  //   { params: { tag: "astro" }, props: { posts: allPosts } },
  //   { params: { tag: "successes" }, props: { posts: allPosts } },
  //   { params: { tag: "community" }, props: { posts: allPosts } },
  //   { params: { tag: "blogging" }, props: { posts: allPosts } },
  //   { params: { tag: "setbacks" }, props: { posts: allPosts } },
  //   { params: { tag: "learning in public" }, props: { posts: allPosts } },
  //   { params: { tag: "notas personales" }, props: { posts: allPosts } },
  // ];
}

// → estos valores se obtienen de getStaticPaths() automáticamente
const { tag } = Astro.params;
const { posts } = Astro.props;

// → si no se hace un filtrado dentro de getStaticPaths() se puede hacer aquí
// const filteredPosts = posts.filter((post: MarkdownInstance<Frontmatter>) =>
//   post.frontmatter.tags?.includes(tag)
// );
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: any) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          author={post.frontmatter.author}
        />
      ))
    }
  </ul>
</BaseLayout>
