---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPost from "@components/BlogPost.astro";
import type { MarkdownInstance } from "astro";
import { getCollection } from "astro:content"; // agregar para content collection

interface Frontmatter {
  title: string;
  pubDate: Date;
  author: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
}

/* const allPosts: MarkdownInstance<Frontmatter>[] = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>("./posts/*.md", {
    eager: true,
  })
); // to return information about all your Markdown files use import.meta.glob(), this will return an array of objects, one for each blog post in this case.
*/ //quitar para content collection
const allPosts = await getCollection("blog"); // agregar para content collection

const pageTitle: string = "My Astro Learning Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <!-- <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li> -->

      <!-- {
        allPosts.map((post: any) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      } -->

      {
        allPosts.map((post: any) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            author={post.frontmatter.author}
          />
        ))
      }
    </ul>
  </BaseLayout>

</html>
